* {
    padding: 0 0;
    margin: 0;
}

.header {
    color: white;    
    background-color: #1F2837;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.titlesub {
    font-size: 18px;
    color: #E5E7EB;
}

.headerbody {
    display: flex;
    margin: 100px;
}

.hbright {
    max-height: 200px;
}